<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#lista-pelis">Volver a listado</a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-hide="vm.movie.$resolved" class="alert alert-info">
        <strong>Cargando detalle de la película...</strong> 
    </div>

    <div ng-hide="!vm.movie.$resolved" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{vm.movie.movie_original_title}}</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <img class="img-responsive" ng-src="{{vm.movie.movie_poster_link}}" alt="Cartel de la película">
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <header>Ficha técnica</header>
                    <dl class="dl-horizontal">
                        <dt>Duración</dt>
                        <dd>{{vm.movie.movie_runtime}}</dd>

                        <dt>Nota IMDB</dt>
                        <dd>{{vm.movie.movie_rating_imdb}}</dd>

                        <dt>Nota Filmaffinity</dt>
                        <dd>{{vm.movie.movie_rating_fa}}</dd>

                        <dt>País</dt>
                        <dd>{{vm.movie.movie_country}}</dd>

                        <dt>Argumento</dt>
                        <dd>{{vm.movie.movie_plot}}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <br>
        <div class="panel-heading">
            <h3 class="panel-title">Tweets</h3>
        </div>

        <div class="panel-body">
            <div class="list-group-item" ng-repeat="tweet in vm.movie.movie_tweets_analyzed">
                <h4 class="list-group-item-heading"><a ng-href="http://twitter.com/{{tweet.nick}}">@{{tweet.nick}}</a></h4>
                <p class="list-group-item-text">{{tweet.text}}</p>
            </div>
        </div>
    </div>
</div>
