body {
    /**
     * Required to avoid the navbar-top to hide the content
     * http://getbootstrap.com/components/#navbar-fixed-top
     **/
    padding-top: 60px;
}

.row {
    margin-top:40px;
    padding: 0 10px;
}

.panel {
    margin-top: 10px;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.panel-body > .row {
    margin-top: 10px;
}

.panel-body {
    padding: 0;
}

.panel-body header {
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 17px;
}

.panel-body > .table {
    margin-bottom:0px;
}


.table > thead > tr > th{
    border-right: 1px solid #ddd;
    border-bottom:0;
}

.table > tbody > tr > td{
    border-right: 1px solid #ddd;
}

.table > thead > tr > th:last-of-type {
    border-right: 0px;
}

.table > tbody > tr > td:last-of-type {
    border-right: 0px;
}















